body{
    margin: 20px;
    background-color: aliceblue;
}
.container {
    border: 1px solid aliceblue;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.card-body {
    border: 1px solid #d3c1c1;
    background-color: #f1f1f1;
    /* width: 400px; */
    margin-right: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.card-body2 #box2{
    background-color: #f1f1f1;
    border: 1px solid #d3c1c1;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 1% 4% 3%;
    /* padding-left: 3%; */
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 400;
    width: 900px;
}
.card-body2 #box3{
    background-color: #f1f1f1;
    border: 1px solid #d3c1c1;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 1% 6%;
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* display:; */
    /* flex-direction: column; */
    text-align:justify; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 400;
    width: 860px;

}
.card-body2 #box4{
    background-color: #f1f1f1;
    border: 1px solid #d3c1c1;
    /* margin-bottom: 1px; */
    border-radius: 10px;
    padding: 1% 4% 4%;
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* display: flex;
    flex-direction: column; */
    text-align:justify; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 400;
    width: 900px;
}
img{
    height: 350px;
    width: 350px;
    display: flex;
    margin: auto;
}

h1{
    margin-top: 40px; 
    border-top: 5px solid rgb(211, 199, 199);
    /* text-align: center; */
}
h2{
    margin-top: 30px; 
    border-bottom: 2px solid rgb(211, 199, 199);
    /* text-align: center; */
}

#box1{
/* flex: 30%; */
/* padding: 1%; */
background-color: #f1f1f1;
}

/* #box2 #box3 #box4{
    display: flex;
    float: left;
    width: 100px;
    flex-direction: row;
} */


h3, p{
    display: inline;
    /* padding: 0.5%; */
    }

.skills h2 {
    font-weight: 400;
    /* letter-spacing: 1px; */
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.progress-bar{
    background: #959595;
    width: 400px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    /* background: red; */
    width: 0%;
}

.progress-bar div span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: inline-end;
    background:#f5ecec;
    margin-top: -10px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.html{
    background-color: #e91e63;
    animation: html 1s linear forwards;
}
.css{
    background-color: #1e4de9;
    animation: css 1s linear forwards;
}
.javascript{
    background-color: #1ee94a;
    animation: javascript 1s linear forwards;
}
.python{
    background-color: #f5cd4a;
    animation: python 1s linear forwards;
}
.react{
    background-color: #981ee9;
    animation: react 1s linear forwards;
}

.html span{
    border: 1px solid #e91e63;
}
.css span{
    border: 1px solid #1e4de9;
}
.javascript span{
    border: 1px solid #1ee94a;
}
.python span{
    border: 1px solid #f5cd4a;
}
.react span{
    border: 1px solid #981ee9;
}

@keyframes html{
    100%{
        width: 86%;
    }
}
@keyframes css{
    100%{
        width: 75%;
    }
}
@keyframes javascript{
    100%{
        width: 60%;
    }
}
@keyframes python{
    100%{
        width: 54%;
    }
}
@keyframes react{
    100%{
        width: 48%;
    }
}